@font-face {
    font-family: "NotoSerifregular";
    src: url("../fonts/noto-serif/NotoSerifRegular.ttf") format("truetype");
    font-weight: normal;
}

@font-face {
    font-family: "PTSansRegular";
    src: url("../fonts/pt-sans/PTSansRegular.ttf") format("truetype");
    font-weight: normal;
}

.body {
    background-image: url(../images/pattern-bg.png);
}

.cards {

    display: grid;
    gap: 30px;
    justify-content: space-around;
}


.card {
    width: 340px;
    background-color: white;
    box-shadow: 0 8px 22px rgba(0, 0, 0, 0.06), inset 0 0 0 5px #f5e1bd;
}

.blok_title,
.card_title,
.card_price_money {
    color: #3b1907a6;
    font-family: "NotoSerifregular", serif;
}

.blok_title {
    text-align: center;
    margin-bottom: 55px;
}

.card_image {
    width: 100%;
}

.card_title,
.card_room_description,
.card_price {
    text-align: center;
    font-family: "NotoSerifregular", serif;
}

.card_price {
    font-size: 1.5em;
}

.card_line {
    width: 80%;
    margin: 15px auto;
    border: 1px solid #80808047;
}

.card_button,
.card_button_inf {
    width: 185px;
    height: 39px;
    border-radius: 0px;
    border: solid 0px;
    color: white;
    background-color: #6b390896;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

.card_room_description {
    margin-bottom: 25px;
}

.card:hover .card_best_price {
    opacity: 1;
}

.card:hover {
    box-shadow: none;
}

.card_button:hover {
    background-color: #7050318c;
}

@media (max-width: 479px) {
    .cards {
        grid-template-columns: 1fr;
    }

    .card {
        width: 307px;
    }

    .card_room_description {
        width: 286px;
    }

}

@media (min-width: 480px) and (max-width: 767px) {
    .cards {
        grid-template-columns: 1fr;
        justify-items: center;
    }

}

@media (min-width: 768px) and (max-width: 1199px) {
    .cards {
        grid-template-columns: repeat(2, minmax(280px, 1fr));
        justify-items: center;
    }

    .card:nth-child(1) {
        grid-column: 1;
        grid-row: 1;
    }

    .card:nth-child(2) {
        grid-column: 2;
        grid-row: 1;
    }

    .card:nth-child(3) {
        grid-column: 1 / 3;
        grid-row: 2;
        margin-top: 30px;
    }

}

@media (min-width: 1200px) {
    .cards {
        grid-template-columns: repeat(3, minmax(280px, 1fr));
        justify-items: center;
    }
}


.card {
    position: relative;
    overflow: hidden;
}

.card__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(184 180 184 / 70%);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    z-index: 1;
    pointer-events: none;
}

.card_button:focus~.card__overlay {
    opacity: 1;
    visibility: visible;
}

.card_button:focus {
    background-color: grey;

}

.card_button:focus~.card_best_price {
    opacity: 0;
    visibility: hidden;
}



.card_best_price {
    position: absolute;
    top: 10px;
    left: 10px;
    background-image: url(../images/best-price.png);
    width: 62px;
    height: 62px;
    background-position: center;
    background-size: 62px 62px;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 14px;
    text-align: center;
    line-height: 1.2;
    padding: 5px;
    box-sizing: border-box;
    overflow: hidden;
    opacity: 0;
    z-index: 2;
    margin: 0;
}

.card {
    cursor: pointer;
}

.card_button_inf {
    display: none;
}

.card_button:focus {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    border: 0;
}

.card_button:focus~.card_button_inf {
    display: block;
    background-color: #a0a0a0;
    cursor: pointer;
}

.card_button:focus~.card__overlay {
    opacity: 1;
    visibility: visible;
}

.card_button:focus~.card_best_price {
    opacity: 0;
    visibility: hidden;
}