.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}

a img {
    width: 100%;
    height: auto;
    display: block;
}

.big_img {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    z-index: 1000;
    transition: opacity 0.5s ease, visibility 0.5s ease;

}

.imgBig {
    width: 700px;
}

.big_img:target {
    visibility: visible;
    opacity: 1;
}

.button {
    position: absolute;
    top: 70px;
    left: 1050px;
    width: 40px;
    height: 40px;
    background-color: #9fafa9;
    color: white;
    border: none;
    border-radius: 50%;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    z-index: 1001;
    transition: all 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

a {
    text-decoration: none;
}