body {
    margin: 0;
    font-family: Arial, sans-serif;
}

nav {
    background-color: #073d6a;
    color: white;
    height: 50px;
    display: flex;
    align-items: center;
}

.main_ul {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: 0;
    padding: 0;
}

ul,
li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.main_li,
.main_li_services {
    position: relative;
    padding: 15px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.main_li:hover,
.main_li_services:hover {
    background-color: #0a4d87;
}

.child_services,
.child_design {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #f1f1f1;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

.child_services li {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    position: relative;
    transition: background-color 0.3s;
}

.child_services li:hover {
    background-color: #ddd;
}

.main_li_services:hover>.child_services {
    display: block;
}

.child_services li:first-child:hover>.child_design {
    display: block;
}

.child_design {
    position: absolute;
    left: 200px;
    top: 29px;
    background-color: #f9f9f9;
    min-width: 180px;
}

.child_design ul {
    margin: 0;
    padding: 0;
}

.child_design li {
    padding: 10px 15px;
    color: #333;
    transition: background-color 0.3s;
}

.child_design li:hover {
    background-color: #eee;
}