/* .navbar {
    background-color: #073d6a;
    height: 50px;
    display: flex;
    justify-content: center;
} */
header {
    background-color: #073d6a;
    height: 50px;
    display: flex;
    justify-content: center;
}

.navbar>ul {
    display: flex;
    list-style-type: none;
    padding: 0;
}

li {
    margin-right: 35px;
}

body {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: white;
    padding: 5px;
}

a:hover {
    color: yellow;
}

.logo {
    width: 50px;
    height: 50px;
    margin-right: 35px;
}

main {
    display: flex;
    flex-direction: column;
    min-height: 90vh;
}

article {
    margin-bottom: 50px;
}