input[type="checkbox"],
input[type="radio"] {
    appearance: none;
}

fieldset {
    width: 400px;
    background: white;
    border-color: #0d6efd;
    border-radius: 12px;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.12);
    margin-left: auto;
    margin-right: auto;
}

.checkbox-input {
    appearance: none;
    width: 1rem;
    height: 1rem;
    border: 1px solid #0d6efd;
    border-radius: 0.25rem;
    background-color: #fff;
    cursor: pointer;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    margin: 0;
}

.checkbox-input:checked {
    background-color: #0d6efd;
    border-color: #0d6efd;
    background-image: url("images/heart.webp");
    background-size: 18px;
    background-position: center;
    background-repeat: no-repeat;
}

.checkbox-input:active {
    filter: brightness(90%);
}

.checkbox-input:hover:not(:disabled) {
    border-color: #0d6efd;
}

.checkbox-input:focus {
    border-color: #0d6efd;
    outline: none;
    box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}

.checkbox-input:disabled {
    filter: none;
    opacity: 0.5;
    cursor: not-allowed;
}

.checkbox-input:disabled~.checkbox-label {
    opacity: 0.5;
    cursor: not-allowed;
}

.radio-group {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    position: relative;
}


.radio-input {
    -webkit-appearance: none;
    appearance: none;
    width: 1rem;
    height: 1rem;
    border: 1px solid #dee2e6;
    border-radius: 50%;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    cursor: pointer;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    margin: 0;
}


.radio-input:checked {
    background-color: #0d6efd;
    border-color: #0d6efd;
    background-image: url("images/heart.webp");
    background-size: 22px;
}


.radio-input:disabled {
    filter: none;
    opacity: 0.5;
    cursor: not-allowed;
}

.radio-input:disabled~.radio-label {
    opacity: 0.5;
    cursor: not-allowed;
}

legend {
    font-size: 2em;
    color: #4a6fa5;
    text-align: center;
}

.form-group {
    margin-bottom: 10px;

}

.lable_name {
    color: #3d5a80;
    font-size: 20px;
    margin-top: 5px;
}

small {
    display: block;
    margin-top: 5px;
    color: #777;
    font-size: 0.85em;
}

.radio-group label,
.checkbox-group label {
    display: inline-flex;
    align-items: center;
    font-weight: normal;
    margin-bottom: 0;
    cursor: pointer;
    font-size: 18px;
    color: #4a6fa5;
}