.container{
    display: flex;
    justify-content: space-around;
}
.left-column,.right-column{
    width: 50%;
    padding: 20px;
}
.left-column{
    background-color: #87a1ffad;
}
.right-column{
    background-color: #d7da2585;
}